In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("hw8.ipynb")

# CPSC 330 - Applied Machine Learning

## Homework 8: Introduction to Computer vision, Time Series, and Survival Analysis (Lectures 19 to 20) 

**Due date: see the [Apr 07, 11:59 pm](https://github.com/UBC-CS/cpsc330-2024W2?tab=readme-ov-file#deliverable-due-dates-tentative).**

## Imports

In [2]:
from hashlib import sha1

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.compose import ColumnTransformer, make_column_transformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OrdinalEncoder, OneHotEncoder

from sklearn.linear_model import Ridge
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import r2_score

<div class="alert alert-info">
    
## Submission instructions
<hr>
rubric={points:2}

Follow the [homework submission instructions](https://github.com/UBC-CS/cpsc330-2024W2/blob/main/docs/homework_instructions.md). 

**You may work in a group on this homework and submit your assignment as a group.** Below are some instructions on working as a group.  
- The maximum group size is 2. 
- Use group work as an opportunity to collaborate and learn new things from each other. 
- Be respectful to each other and make sure you understand all the concepts in the assignment well. 
- It's your responsibility to make sure that the assignment is submitted by one of the group members before the deadline. 
- You can find the instructions on how to do group submission on Gradescope [here](https://help.gradescope.com/article/m5qz2xsnjy-student-add-group-members).


When you are ready to submit your assignment do the following:

1. Run all cells in your notebook to make sure there are no errors by doing `Kernel -> Restart Kernel and Clear All Outputs` and then `Run -> Run All Cells`. 
2. Notebooks with cell execution numbers out of order will have marks deducted. Notebooks without the output displayed may not be graded at all (because we need to see the output in order to grade your work).
3. Upload the assignment using Gradescope's drag and drop tool. Check out this [Gradescope Student Guide](https://lthub.ubc.ca/guides/gradescope-student-guide/) if you need help with Gradescope submission.
4. Make sure that the plots and output are rendered properly in your submitted file. 
5. If the .ipynb file is too big and doesn't render on Gradescope, also upload a pdf or html in addition to the .ipynb.

<br><br>

## Exercise 1: time series prediction

In this exercise we'll be looking at a [dataset of avocado prices](https://www.kaggle.com/neuromusic/avocado-prices). You should start by downloading the dataset and storing it under the `data` folder. We will be forcasting average avocado price for the next week.

In [3]:
df = pd.read_csv("data/avocado.csv", parse_dates=["Date"], index_col=0)
df.head()

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [4]:
df.shape

(18249, 13)

In [5]:
df["Date"].min()

Timestamp('2015-01-04 00:00:00')

In [6]:
df["Date"].max()

Timestamp('2018-03-25 00:00:00')

It looks like the data ranges from the start of 2015 to March 2018 (~2 years ago), for a total of 3.25 years or so. Let's split the data so that we have a 6 months of test data.

In [7]:
split_date = '20170925'
df_train = df[df["Date"] <= split_date]
df_test  = df[df["Date"] >  split_date]

In [8]:
assert len(df_train) + len(df_test) == len(df)

<br><br>

<!-- BEGIN QUESTION -->

### 1.1 How many time series? 
rubric={points:4}

In the [Rain in Australia](https://www.kaggle.com/datasets/jsphyg/weather-dataset-rattle-package) dataset from lecture demo, we had different measurements for each Location. 

We want you to consider this for the avocado prices dataset. For which categorical feature(s), if any, do we have separate measurements? Justify your answer by referencing the dataset.

<div class="alert alert-warning">

Solution_1.1
    
</div>

_Points:_ 4

The dataset reveals that for the categorical features "type" and "region," measurements are tracked independently over time. The "type" feature consists of two unique categories: 'organic' and 'conventional,' with separate data recorded for each. Meanwhile, the "region" feature includes 54 distinct regions, and avocado prices and sales are monitored individually for each region. Since the dataset captures price and volume information for every unique combination of region and type over time, this results in 108 unique time series (54 regions × 2 types). This structure is reflected in the dataset, where each row corresponds to a specific date, region, and type pairing.

In [9]:
print(df["region"].unique())
print(df["region"].nunique())
print(df["type"].unique())
print(df["type"].nunique())

['Albany' 'Atlanta' 'BaltimoreWashington' 'Boise' 'Boston'
 'BuffaloRochester' 'California' 'Charlotte' 'Chicago' 'CincinnatiDayton'
 'Columbus' 'DallasFtWorth' 'Denver' 'Detroit' 'GrandRapids' 'GreatLakes'
 'HarrisburgScranton' 'HartfordSpringfield' 'Houston' 'Indianapolis'
 'Jacksonville' 'LasVegas' 'LosAngeles' 'Louisville' 'MiamiFtLauderdale'
 'Midsouth' 'Nashville' 'NewOrleansMobile' 'NewYork' 'Northeast'
 'NorthernNewEngland' 'Orlando' 'Philadelphia' 'PhoenixTucson'
 'Pittsburgh' 'Plains' 'Portland' 'RaleighGreensboro' 'RichmondNorfolk'
 'Roanoke' 'Sacramento' 'SanDiego' 'SanFrancisco' 'Seattle'
 'SouthCarolina' 'SouthCentral' 'Southeast' 'Spokane' 'StLouis' 'Syracuse'
 'Tampa' 'TotalUS' 'West' 'WestTexNewMexico']
54
['conventional' 'organic']
2

In [10]:
...

Ellipsis

In [11]:
...

Ellipsis

<!-- END QUESTION -->

<br><br>

<!-- BEGIN QUESTION -->

### 1.2 Equally spaced measurements? 
rubric={points:4}

In the Rain in Australia dataset, the measurements were generally equally spaced but with some exceptions. How about with this dataset? Justify your answer by referencing the dataset.

<div class="alert alert-warning">

Solution_1.2
    
</div>

_Points:_ 4

The time intervals between sequential dates represent the spacing of measurements. In section 1.1, we identified "region" and "type" as the two categorical features with independent measurements. To ensure consistency, we examined whether these date intervals are evenly spaced across all combinations of region and type. The analysis shows that nearly all sequential dates are separated by equal intervals of 7 days. However, an exception was found for the combination "WestTexNewMexico" and "organic", where a 21-day gap exists between two dates and resulted in three fewer measurements compared to other groups. Additionally, using df.info() and .size(), we confirmed that there are no missing values in the dataset.

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18249 entries, 0 to 11
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          18249 non-null  datetime64[ns]
 1   AveragePrice  18249 non-null  float64
 2   Total Volume  18249 non-null  float64
 3   4046          18249 non-null  float64
 4   4225          18249 non-null  float64
 5   4770          18249 non-null  float64
 6   Total Bags    18249 non-null  float64
 7   Small Bags    18249 non-null  float64
 8   Large Bags    18249 non-null  float64
 9   XLarge Bags   18249 non-null  float64
 10  type          18249 non-null  object
 11  year          18249 non-null  int64
 12  region        18249 non-null  object
dtypes: datetime64[ns](1), float64(9), int64(1), object(2)
memory usage: 1.9+ MB

In [13]:
region_type = df.groupby(['region', 'type'])
print(region_type.size())

for (region, types), group in region_type:
    diff = group['Date'].sort_values().diff()
    print(f'({region}, {types}): {diff.max()}, {diff.min()}')

region               type
Albany               conventional    169
                     organic         169
Atlanta              conventional    169
                     organic         169
BaltimoreWashington  conventional    169
                                    ...
TotalUS              organic         169
West                 conventional    169
                     organic         169
WestTexNewMexico     conventional    169
                     organic         166
Length: 108, dtype: int64
(Albany, conventional): 7 days 00:00:00, 7 days 00:00:00
(Albany, organic): 7 days 00:00:00, 7 days 00:00:00
(Atlanta, conventional): 7 days 00:00:00, 7 days 00:00:00
(Atlanta, organic): 7 days 00:00:00, 7 days 00:00:00
(BaltimoreWashington, conventional): 7 days 00:00:00, 7 days 00:00:00
(BaltimoreWashington, organic): 7 days 00:00:00, 7 days 00:00:00
(Boise, conventional): 7 days 00:00:00, 7 days 00:00:00
(Boise, organic): 7 days 00:00:00, 7 days 00:00:00
(Boston, conventional): 7 days 00:00:00, 7 days 00:00:00
(Boston, organic): 7 days 00:00:00, 7 days 00:00:00
(BuffaloRochester, conventional): 7 days 00:00:00, 7 days 00:00:00
(BuffaloRochester, organic): 7 days 00:00:00, 7 days 00:00:00
(California, conventional): 7 days 00:00:00, 7 days 00:00:00
(California, organic): 7 days 00:00:00, 7 days 00:00:00
(Charlotte, conventional): 7 days 00:00:00, 7 days 00:00:00
(Charlotte, organic): 7 days 00:00:00, 7 days 00:00:00
(Chicago, conventional): 7 days 00:00:00, 7 days 00:00:00
(Chicago, organic): 7 days 00:00:00, 7 days 00:00:00
(CincinnatiDayton, conventional): 7 days 00:00:00, 7 days 00:00:00
(CincinnatiDayton, organic): 7 days 00:00:00, 7 days 00:00:00
(Columbus, conventional): 7 days 00:00:00, 7 days 00:00:00
(Columbus, organic): 7 days 00:00:00, 7 days 00:00:00
(DallasFtWorth, conventional): 7 days 00:00:00, 7 days 00:00:00
(DallasFtWorth, organic): 7 days 00:00:00, 7 days 00:00:00
(Denver, conventional): 7 days 00:00:00, 7 days 00:00:00
(Denver, organic): 7 days 00:00:00, 7 days 00:00:00
(Detroit, conventional): 7 days 00:00:00, 7 days 00:00:00
(Detroit, organic): 7 days 00:00:00, 7 days 00:00:00
(GrandRapids, conventional): 7 days 00:00:00, 7 days 00:00:00
(GrandRapids, organic): 7 days 00:00:00, 7 days 00:00:00
(GreatLakes, conventional): 7 days 00:00:00, 7 days 00:00:00
(GreatLakes, organic): 7 days 00:00:00, 7 days 00:00:00
(HarrisburgScranton, conventional): 7 days 00:00:00, 7 days 00:00:00
(HarrisburgScranton, organic): 7 days 00:00:00, 7 days 00:00:00
(HartfordSpringfield, conventional): 7 days 00:00:00, 7 days 00:00:00
(HartfordSpringfield, organic): 7 days 00:00:00, 7 days 00:00:00
(Houston, conventional): 7 days 00:00:00, 7 days 00:00:00
(Houston, organic): 7 days 00:00:00, 7 days 00:00:00
(Indianapolis, conventional): 7 days 00:00:00, 7 days 00:00:00
(Indianapolis, organic): 7 days 00:00:00, 7 days 00:00:00
(Jacksonville, conventional): 7 days 00:00:00, 7 days 00:00:00
(Jacksonville, organic): 7 days 00:00:00, 7 days 00:00:00
(LasVegas, conventional): 7 days 00:00:00, 7 days 00:00:00
(LasVegas, organic): 7 days 00:00:00, 7 days 00:00:00
(LosAngeles, conventional): 7 days 00:00:00, 7 days 00:00:00
(LosAngeles, organic): 7 days 00:00:00, 7 days 00:00:00
(Louisville, conventional): 7 days 00:00:00, 7 days 00:00:00
(Louisville, organic): 7 days 00:00:00, 7 days 00:00:00
(MiamiFtLauderdale, conventional): 7 days 00:00:00, 7 days 00:00:00
(MiamiFtLauderdale, organic): 7 days 00:00:00, 7 days 00:00:00
(Midsouth, conventional): 7 days 00:00:00, 7 days 00:00:00
(Midsouth, organic): 7 days 00:00:00, 7 days 00:00:00
(Nashville, conventional): 7 days 00:00:00, 7 days 00:00:00
(Nashville, organic): 7 days 00:00:00, 7 days 00:00:00
(NewOrleansMobile, conventional): 7 days 00:00:00, 7 days 00:00:00
(NewOrleansMobile, organic): 7 days 00:00:00, 7 days 00:00:00
(NewYork, conventional): 7 days 00:00:00, 7 days 00:00:00
(NewYork, organic): 7 days 00:00:00, 7 days 00:00:00
(Northeast, conventional): 7 days 00:00:00, 7 days 00:00:00
(Northeast, organic): 7 days 00:00:00, 7 days 00:00:00
(NorthernNewEngland, conventional): 7 days 00:00:00, 7 days 00:00:00
(NorthernNewEngland, organic): 7 days 00:00:00, 7 days 00:00:00
(Orlando, conventional): 7 days 00:00:00, 7 days 00:00:00
(Orlando, organic): 7 days 00:00:00, 7 days 00:00:00
(Philadelphia, conventional): 7 days 00:00:00, 7 days 00:00:00
(Philadelphia, organic): 7 days 00:00:00, 7 days 00:00:00
(PhoenixTucson, conventional): 7 days 00:00:00, 7 days 00:00:00
(PhoenixTucson, organic): 7 days 00:00:00, 7 days 00:00:00
(Pittsburgh, conventional): 7 days 00:00:00, 7 days 00:00:00
(Pittsburgh, organic): 7 days 00:00:00, 7 days 00:00:00
(Plains, conventional): 7 days 00:00:00, 7 days 00:00:00
(Plains, organic): 7 days 00:00:00, 7 days 00:00:00
(Portland, conventional): 7 days 00:00:00, 7 days 00:00:00
(Portland, organic): 7 days 00:00:00, 7 days 00:00:00
(RaleighGreensboro, conventional): 7 days 00:00:00, 7 days 00:00:00
(RaleighGreensboro, organic): 7 days 00:00:00, 7 days 00:00:00
(RichmondNorfolk, conventional): 7 days 00:00:00, 7 days 00:00:00
(RichmondNorfolk, organic): 7 days 00:00:00, 7 days 00:00:00
(Roanoke, conventional): 7 days 00:00:00, 7 days 00:00:00
(Roanoke, organic): 7 days 00:00:00, 7 days 00:00:00
(Sacramento, conventional): 7 days 00:00:00, 7 days 00:00:00
(Sacramento, organic): 7 days 00:00:00, 7 days 00:00:00
(SanDiego, conventional): 7 days 00:00:00, 7 days 00:00:00
(SanDiego, organic): 7 days 00:00:00, 7 days 00:00:00
(SanFrancisco, conventional): 7 days 00:00:00, 7 days 00:00:00
(SanFrancisco, organic): 7 days 00:00:00, 7 days 00:00:00
(Seattle, conventional): 7 days 00:00:00, 7 days 00:00:00
(Seattle, organic): 7 days 00:00:00, 7 days 00:00:00
(SouthCarolina, conventional): 7 days 00:00:00, 7 days 00:00:00
(SouthCarolina, organic): 7 days 00:00:00, 7 days 00:00:00
(SouthCentral, conventional): 7 days 00:00:00, 7 days 00:00:00
(SouthCentral, organic): 7 days 00:00:00, 7 days 00:00:00
(Southeast, conventional): 7 days 00:00:00, 7 days 00:00:00
(Southeast, organic): 7 days 00:00:00, 7 days 00:00:00
(Spokane, conventional): 7 days 00:00:00, 7 days 00:00:00
(Spokane, organic): 7 days 00:00:00, 7 days 00:00:00
(StLouis, conventional): 7 days 00:00:00, 7 days 00:00:00
(StLouis, organic): 7 days 00:00:00, 7 days 00:00:00
(Syracuse, conventional): 7 days 00:00:00, 7 days 00:00:00
(Syracuse, organic): 7 days 00:00:00, 7 days 00:00:00
(Tampa, conventional): 7 days 00:00:00, 7 days 00:00:00
(Tampa, organic): 7 days 00:00:00, 7 days 00:00:00
(TotalUS, conventional): 7 days 00:00:00, 7 days 00:00:00
(TotalUS, organic): 7 days 00:00:00, 7 days 00:00:00
(West, conventional): 7 days 00:00:00, 7 days 00:00:00
(West, organic): 7 days 00:00:00, 7 days 00:00:00
(WestTexNewMexico, conventional): 7 days 00:00:00, 7 days 00:00:00
(WestTexNewMexico, organic): 21 days 00:00:00, 7 days 00:00:00

In [14]:
...

Ellipsis

In [15]:
...

Ellipsis

In [16]:
...

Ellipsis

In [17]:
...

Ellipsis

In [18]:
...

Ellipsis

<!-- END QUESTION -->

<br><br>

<!-- BEGIN QUESTION -->

### 1.3 Interpreting regions 
rubric={points:4}

In the Rain in Australia dataset, each location was a different place in Australia. For this dataset, look at the names of the regions. Do you think the regions are also all distinct, or are there overlapping regions? Justify your answer by referencing the data.

<div class="alert alert-warning">

Solution_1.3
    
</div>

_Points:_ 4

From the dataset, it appears that the regions or locations primarily correspond to individual cities across the United States. However, there are also broader regional categories such as "West," "Northeast," "TotalUS," and "Great Lakes," which likely represent aggregations of multiple cities or smaller regions already present in the dataset. It is reasonable to infer that "TotalUS" encompasses all regions within the United States, as many individual cities are explicitly listed as separate regions. This indicates that some regions overlap, with "TotalUS" serving as an aggregate measure of the entire country. Despite this overlap, individual regions still provide distinct time series data, ensuring that no region is redundant in the dataset.

In [19]:
print(df["region"].unique())
print(df["region"].nunique())

['Albany' 'Atlanta' 'BaltimoreWashington' 'Boise' 'Boston'
 'BuffaloRochester' 'California' 'Charlotte' 'Chicago' 'CincinnatiDayton'
 'Columbus' 'DallasFtWorth' 'Denver' 'Detroit' 'GrandRapids' 'GreatLakes'
 'HarrisburgScranton' 'HartfordSpringfield' 'Houston' 'Indianapolis'
 'Jacksonville' 'LasVegas' 'LosAngeles' 'Louisville' 'MiamiFtLauderdale'
 'Midsouth' 'Nashville' 'NewOrleansMobile' 'NewYork' 'Northeast'
 'NorthernNewEngland' 'Orlando' 'Philadelphia' 'PhoenixTucson'
 'Pittsburgh' 'Plains' 'Portland' 'RaleighGreensboro' 'RichmondNorfolk'
 'Roanoke' 'Sacramento' 'SanDiego' 'SanFrancisco' 'Seattle'
 'SouthCarolina' 'SouthCentral' 'Southeast' 'Spokane' 'StLouis' 'Syracuse'
 'Tampa' 'TotalUS' 'West' 'WestTexNewMexico']
54

In [20]:
...

Ellipsis

In [21]:
...

Ellipsis

<!-- END QUESTION -->

<br><br>

We will use the entire dataset despite any location-based weirdness uncovered in the previous part.

We will be trying to forecast the avocado price. The function below is adapted from [Lecture 19](https://github.com/UBC-CS/cpsc330-2024W2/tree/main/lectures), with some improvements.

In [22]:
def create_lag_feature(df, orig_feature, lag, groupby, new_feature_name=None, clip=False):
    """
    Creates a new feature that's a lagged version of an existing one.
    
    NOTE: assumes df is already sorted by the time columns and has unique indices.
    
    Parameters
    ----------
    df : pandas.core.frame.DataFrame
        The dataset.
    orig_feature : str
        The column name of the feature we're copying
    lag : int
        The lag; negative lag means values from the past, positive lag means values from the future
    groupby : list
        Column(s) to group by in case df contains multiple time series
    new_feature_name : str
        Override the default name of the newly created column
    clip : bool
        If True, remove rows with a NaN values for the new feature
    
    Returns
    -------
    pandas.core.frame.DataFrame
        A new dataframe with the additional column added.
        
    """
        
    if new_feature_name is None:
        if lag < 0:
            new_feature_name = "%s_lag%d" % (orig_feature, -lag)
        else:
            new_feature_name = "%s_ahead%d" % (orig_feature, lag)
    
    new_df = df.assign(**{new_feature_name : np.nan})
    for name, group in new_df.groupby(groupby):        
        if lag < 0: # take values from the past
            new_df.loc[group.index[-lag:],new_feature_name] = group.iloc[:lag][orig_feature].values
        else:       # take values from the future
            new_df.loc[group.index[:-lag], new_feature_name] = group.iloc[lag:][orig_feature].values
            
    if clip:
        new_df = new_df.dropna(subset=[new_feature_name])
        
    return new_df

We first sort our dataframe properly:

In [23]:
df_sort = df.sort_values(by=["region", "type", "Date"]).reset_index(drop=True)
df_sort

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,conventional,2015,Albany
1,2015-01-11,1.24,41195.08,1002.85,31640.34,127.12,8424.77,8036.04,388.73,0.0,conventional,2015,Albany
2,2015-01-18,1.17,44511.28,914.14,31540.32,135.77,11921.05,11651.09,269.96,0.0,conventional,2015,Albany
3,2015-01-25,1.06,45147.50,941.38,33196.16,164.14,10845.82,10103.35,742.47,0.0,conventional,2015,Albany
4,2015-02-01,0.99,70873.60,1353.90,60017.20,179.32,9323.18,9170.82,152.36,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,2018-02-25,1.57,18421.24,1974.26,2482.65,0.00,13964.33,13698.27,266.06,0.0,organic,2018,WestTexNewMexico
18245,2018-03-04,1.54,17393.30,1832.24,1905.57,0.00,13655.49,13401.93,253.56,0.0,organic,2018,WestTexNewMexico
18246,2018-03-11,1.56,22128.42,2162.67,3194.25,8.93,16762.57,16510.32,252.25,0.0,organic,2018,WestTexNewMexico
18247,2018-03-18,1.56,15896.38,2055.35,1499.55,0.00,12341.48,12114.81,226.67,0.0,organic,2018,WestTexNewMexico
18248,2018-03-25,1.62,15303.40,2325.30,2171.66,0.00,10806.44,10569.80,236.64,0.0,organic,2018,WestTexNewMexico

We then call `create_lag_feature`. This creates a new column in the dataset `AveragePriceNextWeek`, which is the following week's `AveragePrice`. We have set `clip=True` which means it will remove rows where the target would be missing.

In [24]:
df_hastarget = create_lag_feature(df_sort, "AveragePrice", +1, ["region", "type"], "AveragePriceNextWeek", clip=True)
df_hastarget

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region,AveragePriceNextWeek
0,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,conventional,2015,Albany,1.24
1,2015-01-11,1.24,41195.08,1002.85,31640.34,127.12,8424.77,8036.04,388.73,0.0,conventional,2015,Albany,1.17
2,2015-01-18,1.17,44511.28,914.14,31540.32,135.77,11921.05,11651.09,269.96,0.0,conventional,2015,Albany,1.06
3,2015-01-25,1.06,45147.50,941.38,33196.16,164.14,10845.82,10103.35,742.47,0.0,conventional,2015,Albany,0.99
4,2015-02-01,0.99,70873.60,1353.90,60017.20,179.32,9323.18,9170.82,152.36,0.0,conventional,2015,Albany,0.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18243,2018-02-18,1.56,17597.12,1892.05,1928.36,0.00,13776.71,13553.53,223.18,0.0,organic,2018,WestTexNewMexico,1.57
18244,2018-02-25,1.57,18421.24,1974.26,2482.65,0.00,13964.33,13698.27,266.06,0.0,organic,2018,WestTexNewMexico,1.54
18245,2018-03-04,1.54,17393.30,1832.24,1905.57,0.00,13655.49,13401.93,253.56,0.0,organic,2018,WestTexNewMexico,1.56
18246,2018-03-11,1.56,22128.42,2162.67,3194.25,8.93,16762.57,16510.32,252.25,0.0,organic,2018,WestTexNewMexico,1.56
18247,2018-03-18,1.56,15896.38,2055.35,1499.55,0.00,12341.48,12114.81,226.67,0.0,organic,2018,WestTexNewMexico,1.62

Our goal is to predict `AveragePriceNextWeek`.

Let's split the data:

In [25]:
df_train = df_hastarget[df_hastarget["Date"] <= split_date]
df_test  = df_hastarget[df_hastarget["Date"] >  split_date]

<br><br>

<!-- BEGIN QUESTION -->

### 1.4 `AveragePrice` baseline 
rubric={points}

Soon we will want to build some models to forecast the average avocado price a week in advance. Before we start with any ML though, let's try a baseline. Previously we used `DummyClassifier` or `DummyRegressor` as a baseline. This time, we'll do something else as a baseline: we'll assume the price stays the same from this week to next week. So, we'll set our prediction of "AveragePriceNextWeek" exactly equal to "AveragePrice", assuming no change. That is kind of like saying, "If it's raining today then I'm guessing it will be raining tomorrow". This simplistic approach will not get a great score but it's a good starting point for reference. If our model does worse that this, it must not be very good. 

Using this baseline approach, what $R^2$ do you get on the train and test data?

<div class="alert alert-warning">

Solution_1.4
    
</div>

_Points:_ 4

_Type your answer here, replacing this text._

In [26]:
train_r2 = r2_score(df_train['AveragePriceNextWeek'], df_train['AveragePrice'])
train_r2

0.8285800937261841

In [27]:
test_r2 = r2_score(df_test['AveragePriceNextWeek'], df_test['AveragePrice'])
test_r2

0.7631780188583048

In [28]:
...

Ellipsis

In [29]:
...

Ellipsis

In [30]:
assert not train_r2 is None, "Are you using the correct variable name?"
assert not test_r2 is None, "Are you using the correct variable name?"
assert sha1(str(round(train_r2, 3)).encode('utf8')).hexdigest() == 'b1136fe2a8918904393ab6f40bfb3f38eac5fc39', "Your training score is not correct. Are you using the right features?"
assert sha1(str(round(test_r2, 3)).encode('utf8')).hexdigest() == 'cc24d9a9b567b491a56b42f7adc582f2eefa5907', "Your test score is not correct. Are you using the right features?"

<!-- END QUESTION -->

<br><br>

<!-- BEGIN QUESTION -->

### 1.5 Forecasting average avocado price
rubric={points:10}

Now that the baseline is done, let's build some models to forecast the average avocado price a week later. Experiment with a few approachs for encoding the date. Justify the decisions you make. Which approach worked best? Report your test score and briefly discuss your results.

Benchmark: you should be able to achieve $R^2$ of at least 0.79 on the test set. I got to 0.80, but not beyond that. Let me know if you do better!

Note: because we only have 2 splits here, we need to be a bit wary of overfitting on the test set. Try not to test on it a ridiculous number of times. If you are interested in some proper ways of dealing with this, see for example sklearn's [TimeSeriesSplit](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.TimeSeriesSplit.html), which is like cross-validation for time series data.

<div class="alert alert-warning">

Solution_1.5
    
</div>

_Points:_ 10

After thorough exploration, I determined that the cyclical encoding approach—discussed in class—was the most effective strategy for my analysis. This decision was guided by the inherent seasonality of agricultural production. The growth of crops is heavily influenced by seasonal weather patterns, which in turn affect supply levels and cause fluctuations in prices. To account for this cyclicality, I engineered new features by encoding the month as a cyclical variable using sine and cosine transformations.

Additionally, I introduced a "day of the week" feature to capture consumer purchasing behavior. Since grocery shopping tends to peak on weekends, retailers may adjust prices accordingly during these periods. By including this feature, I aimed to reflect how temporal patterns in demand might influence pricing dynamics.

To evaluate the effectiveness of this transformed dataset, I trained two models: Ridge Regression and Random Forest. Comparing their performance, Ridge Regression yielded a higher R² score of 0.784, outperforming the Random Forest model, which achieved an R² of 0.727. This result reinforced my belief that the cyclical encoding approach, combined with thoughtful feature engineering, was the optimal choice for modeling this data.

In [31]:
for df in [df_train, df_test]:
    df["month"] = df["Date"].dt.month
    df["day"] = df["Date"].dt.day
    df["dayofweek"] = df["Date"].dt.dayofweek
    df["month_sin"] = np.sin(2 * np.pi * df["month"] / 12)
    df["month_cos"] = np.cos(2 * np.pi * df["month"] / 12)
    df["dow_sin"] = np.sin(2 * np.pi * df["dayofweek"] / 7)
    df["dow_cos"] = np.cos(2 * np.pi * df["dayofweek"] / 7)

feature_columns = ["AveragePrice", "month_sin", "month_cos", "dow_sin", "dow_cos"]
X_training, y_training = df_train[feature_columns], df_train["AveragePriceNextWeek"]
X_testing, y_testing = df_test[feature_columns], df_test["AveragePriceNextWeek"]

ridge_regressor = Ridge(alpha=1.0).fit(X_training, y_training)
ridge_train_r2 = r2_score(y_training, ridge_regressor.predict(X_training))
ridge_test_r2 = r2_score(y_testing, ridge_regressor.predict(X_testing))
print("Ridge Train R²:", ridge_train_r2)
print("Ridge Test R²:", ridge_test_r2)

forest_regressor = RandomForestRegressor(n_estimators=100, random_state=123).fit(X_training, y_training)
forest_test_r2 = r2_score(y_testing, forest_regressor.predict(X_testing))
print("Random Forest Test R²:", forest_test_r2)

Ridge Train R²: 0.8363400839346545
Ridge Test R²: 0.7842888444125139

/var/folders/hq/03_8_94s5wg1rqtd18qmrcrw0000gn/T/ipykernel_13354/1028666546.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["month"] = df["Date"].dt.month
/var/folders/hq/03_8_94s5wg1rqtd18qmrcrw0000gn/T/ipykernel_13354/1028666546.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["day"] = df["Date"].dt.day
/var/folders/hq/03_8_94s5wg1rqtd18qmrcrw0000gn/T/ipykernel_13354/1028666546.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["dayofweek"] = df["Date"].dt.dayofweek
/var/folders/hq/03_8_94s5wg1rqtd18qmrcrw0000gn/T/ipykernel_13354/1028666546.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["month_sin"] = np.sin(2 * np.pi * df["month"] / 12)
/var/folders/hq/03_8_94s5wg1rqtd18qmrcrw0000gn/T/ipykernel_13354/1028666546.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["month_cos"] = np.cos(2 * np.pi * df["month"] / 12)
/var/folders/hq/03_8_94s5wg1rqtd18qmrcrw0000gn/T/ipykernel_13354/1028666546.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["dow_sin"] = np.sin(2 * np.pi * df["dayofweek"] / 7)
/var/folders/hq/03_8_94s5wg1rqtd18qmrcrw0000gn/T/ipykernel_13354/1028666546.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["dow_cos"] = np.cos(2 * np.pi * df["dayofweek"] / 7)
/var/folders/hq/03_8_94s5wg1rqtd18qmrcrw0000gn/T/ipykernel_13354/1028666546.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["month"] = df["Date"].dt.month
/var/folders/hq/03_8_94s5wg1rqtd18qmrcrw0000gn/T/ipykernel_13354/1028666546.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["day"] = df["Date"].dt.day
/var/folders/hq/03_8_94s5wg1rqtd18qmrcrw0000gn/T/ipykernel_13354/1028666546.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["dayofweek"] = df["Date"].dt.dayofweek
/var/folders/hq/03_8_94s5wg1rqtd18qmrcrw0000gn/T/ipykernel_13354/1028666546.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["month_sin"] = np.sin(2 * np.pi * df["month"] / 12)
/var/folders/hq/03_8_94s5wg1rqtd18qmrcrw0000gn/T/ipykernel_13354/1028666546.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["month_cos"] = np.cos(2 * np.pi * df["month"] / 12)
/var/folders/hq/03_8_94s5wg1rqtd18qmrcrw0000gn/T/ipykernel_13354/1028666546.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["dow_sin"] = np.sin(2 * np.pi * df["dayofweek"] / 7)
/var/folders/hq/03_8_94s5wg1rqtd18qmrcrw0000gn/T/ipykernel_13354/1028666546.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["dow_cos"] = np.cos(2 * np.pi * df["dayofweek"] / 7)

Random Forest Test R²: 0.7278335515474945

In [32]:
...

Ellipsis

In [33]:
...

Ellipsis

In [34]:
...

Ellipsis

In [35]:
...

Ellipsis

In [36]:
...

Ellipsis

In [37]:
...

Ellipsis

In [38]:
...

Ellipsis

In [39]:
...

Ellipsis

In [40]:
...

Ellipsis

In [41]:
...

Ellipsis

In [42]:
...

Ellipsis

In [43]:
...

Ellipsis

In [44]:
...

Ellipsis

In [45]:
...

Ellipsis

In [46]:
...

Ellipsis

In [47]:
...

Ellipsis

In [48]:
...

Ellipsis

In [49]:
...

Ellipsis

In [50]:
...

Ellipsis

In [51]:
...

Ellipsis

In [52]:
...

Ellipsis

In [53]:
...

Ellipsis

<!-- END QUESTION -->

<br><br><br><br>

## Exercise 2: Short answer questions

<!-- BEGIN QUESTION -->

### 2.1 Time series

rubric={points:6}

The following questions pertain to Lecture 20 on time series data:

1. Sometimes a time series has missing time points or, worse, time points that are unequally spaced in general. Give an example of a real world situation where the time series data would have unequally spaced time points.
2. In class we discussed two approaches to using temporal information: encoding the date as one or more features, and creating lagged versions of features. Which of these (one/other/both/neither) two approaches would struggle with unequally spaced time points? Briefly justify your answer.
3. When studying time series modeling, we explored several ways to encode date information as a feature for the citibike dataset. When we used time of day as a numeric feature, the Ridge model was not able to capture the periodic pattern. Why? How did we tackle this problem? Briefly explain.

<div class="alert alert-warning">

Solution_2.1
    
</div>

_Points:_ 6

1. An example would be a restaurant's ordering system that maintains comprehensive and detailed records of every order placed.
2. - The approach that uses lagged features may encounter challenges when dealing with unequally spaced time intervals, whereas encoding date/time directly as features avoids this limitation. This is because lagging assumes a consistent time interval between consecutive observations. When irregular spacing is introduced, a lag of one record might correspond to vastly different durations in actual time, leading to inconsistencies and introducing noise into the predictions. Specifically, the model would assume uniform gaps between observations when predicting each time step based on the next, which can distort the relationships in the data.
   -  In contrast, encoding date/time directly into features, such as day, hour, year, or month, incorporates the actual timestamps into the model. This allows the model to account for the true temporal context and establish meaningful relationships across irregular intervals. By explicitly representing time, the model can better handle variations in observation frequency and draw accurate connections regardless of irregularities. This distinction can be illustrated through a simple linear regression: encoding time directly enables the model to fit a line that adapts to the data's temporal patterns, while lagging relies on assumptions about uniformity that may not hold true.

3. The model performed well on the training data but struggled on the test set, as it produced a horizontal line when making predictions. This occurred because the model was unable to capture the periodic behavior of the data, particularly when extrapolating to feature ranges outside the training set. To address this issue, we incorporated additional temporal features, such as hours, to better represent the cyclical patterns in the data.

<!-- END QUESTION -->

<br><br>

<!-- BEGIN QUESTION -->

### 2.2 Computer vision 
rubric={points:6}

The following questions pertain to Lecture 19 on multiclass classification and introduction to computer vision. 

1. How many parameters (coefficients and intercepts) will `sklearn`’s `LogisticRegression()` model learn for a four-class classification problem, assuming that you have 10 features? Briefly explain your answer.
2. In Lecture 19, we briefly discussed how neural networks are sort of like `sklearn`'s pipelines, in the sense that they involve multiple sequential transformations of the data, finally resulting in the prediction. Why was this property useful when it came to transfer learning?
3. Imagine that you have a small dataset with ~1000 images containing pictures and names of 50 different Computer Science faculty members from UBC. Your goal is to develop a reasonably accurate multi-class classification model for this task. Describe which model/technique you would use and briefly justify your choice in one to three sentences.

<div class="alert alert-warning">

Solution_2.2
    
</div>

_Points:_ 6

1. The model would have a total of 44 parameters. This is because there are 10 features and 4 classes, resulting in 10 coefficients for each class, along with 1 intercept per class.
2. Transfer learning is effective because it allows us to leverage the earlier layers of a neural network as fixed feature extractors, while only retraining the final layer to adapt to a new task.
3. To develop this solution, I would follow these steps:
- Start with a Pre-trained Neural Network : To address the challenge of our small dataset, I would begin by leveraging a pre-trained neural network capable of facial recognition. This would allow me to distinguish faces from other objects in the images and serve as a strong foundation for feature extraction.
- Test on a Small Subset First : Before extensive fine-tuning, I would test the model's initial performance on a small subset of the images. This would help me gauge its baseline accuracy and identify areas for improvement.
- Fine-Tune the Model : Using a larger subset of the images, I would then fine-tune the neural network by further training it to match specific faces to computer science faculty members. This step ensures the model adapts effectively to the task at hand.
- Evaluate on Remaining Data : Finally, I would evaluate the fully trained model on the remaining subset of images to assess its overall performance and ensure it generalizes well to new data.

<!-- END QUESTION -->

<br><br>

<!-- BEGIN QUESTION -->

## 2.3 Survival analysis
<hr>

rubric={points:6}

The following questions pertain to Lecture 21 on survival analysis. We'll consider the use case of customer churn analysis.

1. What is the problem with simply labeling customers are "churned" or "not churned" and using standard supervised learning techniques?
2. Consider customer A who just joined last week vs. customer B who has been with the service for a year. Who do you expect will leave the service first: probably customer A, probably customer B, or we don't have enough information to answer? Briefly explain your answer. 
3. If a customer's survival function is almost flat during a certain period, how do we interpret that?

<div class="alert alert-warning">

Solution_2.3
    
</div>

_Points:_ 6

1. The simple classification fails to account for the time dimension, as the status of "churned" or "not churned" can change over time. Customers labeled as "not churned" may later become "churned," leading to potential mislabeling and inaccurate predictions.
2. Although we observed in class that customers are most likely to leave within the first year, it would be overly simplistic to definitively conclude that Customer A will leave first. This is because there are many other features in the dataset that we have not yet taken into account. Therefore, we do not have enough information to answer.
3. A flat survival function for a customer suggests that the risk of churn during this period is low.

<!-- END QUESTION -->

<br><br>

**Before submitting your assignment, please make sure you have followed all the instructions in the Submission instructions section at the top.**

![](img/eva-well-done.png)